@{
    ViewBag.Title = "title";
}
<label>Acount Number</label>
<input type="number" id="txtLoanNumber" />
<input type="button" id="btnAccountDetails" title="Search"  value="Search" onclick="GetLoans()"/>


<div id="loansList">
</div>



<script src="~/Scripts/Loans.js"></script>
